<html>

<h1>
 Football.
</h1>

<p>
  Only rule at the moment is don't pick both sides of the same line or spread. For example both the under and over from the same game is not 
  allowed and I will go in and mark both as losses. One pick from o/u and one from spread in same game is allowed. I will eventually make it
  so that it's not even an option to screw up but I'd rather get this up and running first. Can submit unlimited times but only last submission
  counts. Standings will be based most correct picks, not percentage. She's a brute rn but I'll keep pushing updates shortly.
</p>

<form method="POST">
  {% csrf_token %}
  {{choiceform.as_p}}
  <input type="submit" name="submit"/>
</form>


</html>